
.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}

.star-selected {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: red;
    clip-path: polygon(
            50% 0%,
            63% 38%,
            100% 38%,
            69% 59%,
            82% 100%,
            50% 75%,
            18% 100%,
            31% 59%,
            0% 38%,
            37% 38%
    );
}

p {
    height: 64px;
    width: 100%;
    display: block;
}

.color-list {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

section {
    grid-auto-flow: row;
    margin: 22px;
}

.color {
    text-align: center;
    width: 100%;
}

.star-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}
